# Environment
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environments
venv/
.venv/

# Django
staticfiles/
media/

# Database backups
data_backup_*.json
*.sql
*.sqlite3

# IDE
.vscode/
.idea/

# Local server logs
server_err.log
server_err.txt
server_out.log
server_out.txt
